<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #9a3eb1;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a routerLink="/Home" class="navbar-brand" href="#">
        <img src="assets/images/logo_cgi.jpg" alt="logo" style="width:40px;">
      </a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Titulaires
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a routerLink="/titulaires" class="dropdown-item" >List</a>
              <a class="dropdown-item" routerLink="/AddTitulaire">Ajouter</a>
            </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            lignes
           </a>
           <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
             <a class="dropdown-item" href="#">List</a>
             <a class="dropdown-item" href="#">Ajouter</a>
           </div>
        </li>
        
        <li class="nav-item">
            <a class="nav-link" href="#">Factures</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Telephones</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Groupes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Categorie</a>
        </li>
    </ul>
  </div>
</nav>