

    <div class="card" style="width:100%;margin-top: 20px;">
        <div class="card-header" style="background-color: rgb(154, 115, 190);">
            <h2 style="color: rgb(208, 208, 219);" *ngIf="mode==1">Ajouter nouveau titulaire</h2>
            <h2  style="color: rgb(208, 208, 219);"*ngIf="mode==0">Titulaire Ajouté</h2>
            <div class="newT" *ngIf="mode==0"><button class="btn btn-dark" (click)="mode=1">Nouveau titulaire</button></div>
        </div>
        <div *ngIf="mode==1" class="card-body " style="background-color: rgb(208, 208, 219);">

            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="form-row">
                  <div class="col-md-4 mb-3">
                    <label for="matricule">Matricule</label>
                    <input type="text" class="form-control"  id="matricule" name="matricule" placeholder="Matricule" formControlName="matricule" >
                    <div *ngIf="matricule.invalid && (matricule.dirty || matricule.touched)" class="">
                      <div *ngIf="matricule.errors?.required" class="invalid">
                        Matricule est obligatoire !
                      </div>
                      <div *ngIf="matricule.errors?.minlength" class="invalid">
                        4 caractaire ou plus !
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <label for="Nom">Nom</label>
                    <input type="text" class="form-control" id="Nom" name="nom" placeholder="Nom" formControlName="nom"  required>
                    <div *ngIf="nom.invalid && (nom.dirty || nom.touched)" class="">
                      <div *ngIf="nom.errors?.required" class="invalid">
                        Nom est obligatoire !
                      </div>
                      <div *ngIf="nom.errors?.minlength" class="invalid">
                        4 caractaire ou plus !
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <label for="prenom">Prenom</label>
                    <input type="text" class="form-control" id="prenom" name="Prenom"  placeholder="Prenom" formControlName="prenom" required>
                    <div *ngIf="prenom.invalid && (prenom.dirty || prenom.touched)" class="">
                      <div *ngIf="prenom.errors?.required" class="invalid">
                        Prenom est obligatoire !
                      </div>
                      <div *ngIf="prenom.errors?.minlength" class="invalid">
                        4 caractaire ou plus !
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-6 mb-3">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email" name="email" placeholder="Email" formControlName="email" required>
                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="">
                      <div *ngIf="email.errors?.required" class="invalid">
                        Email est obligatoire !
                      </div>
                      <div *ngIf="email.errors?.minlength" class="invalid">
                        4 caractaire ou plus !
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 mb-3">
                    <label for="telephone">Telephone</label>
                    <input type="text" class="form-control" id="telephone" name="telephone" placeholder="Telephone" formControlName="telephone" required>
                    <div *ngIf="telephone.invalid && (telephone.dirty || telephone.touched)" class="">
                      <div *ngIf="telephone.errors?.required" class="invalid">
                        Telephone est obligatoire !
                      </div>
                      <div *ngIf="telephone.errors?.minlength" class="invalid">
                        8 nombres ou plus !
                      </div>
                    </div>
                  </div>

                  <div class="col-md-3 mb-3">
                    <label for="dateRecrutement">Date de recrutement</label>
                    <input type="date" class="form-control" id="dateRecrutement" name="dateRecrutement"  placeholder="DD-MM-YYYY" formControlName="dateRecrutement" >
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-3 mb-3">
                      <label for="typeContrat">Type de contrat</label>
                    <select  formControlName="typeContrat"  class="form-control" id="typeContrat" name="typeContrat">
                      <option *ngFor="let type of typeContrats" [ngValue]="type">
                        {{ type.value }}
                      </option>
                    </select>

                  </div>
                </div>

                <button class="btn btn-primary" type="submit" [disabled]="!form.valid" >Enregistrer</button>
              </form>

        </div>
        <div *ngIf="mode==0" class="card-body " style="background-color: rgb(208, 208, 219);">
          <ul class="list-group">
            <li class="list-group-item"><h3>id : {{titulaire.id}}</h3></li>
            <li class="list-group-item"><h3>Nom :{{titulaire.nom}}</h3></li>
            <li class="list-group-item"><h3>Prenom :{{titulaire.prenom}}</h3></li>
            <li class="list-group-item"><h3>Emain :{{titulaire.email}}</h3></li>
            <li class="list-group-item"><h3>Telephone :{{titulaire.telephone}}</h3></li>
            <li class="list-group-item"><h3>Date de recrutement :{{titulaire.dateRecrutement}}</h3></li>
            <li class="list-group-item"><h3>Type de contrat :{{titulaire.typeContrat}}</h3></li>

          </ul>
        </div>

    </div>
