

<div class="card" style="width:100%;margin-top: 20px;">
  <div class="card-header" style="background-color: rgb(154, 115, 190);">
    <h2>Liste des sites</h2>
  </div>
  <div class="card-body " style="background-color: rgb(208, 208, 219);">
    <h2>Chercher :</h2>
    <div class="row">
      <div class="col-sm-3">
        <label for="nom" class="search-label">par nom</label>
        <form class="form-inline">
          <div class="form-group mx-sm-3 mb-2">
            <input id="nom" name="nom" type="text" [(ngModel)]="nom" class="form-control" placeholder="Nom">
          </div>
        </form>
      </div>
      <div class="col-sm-3">
        <label for="adresse" class="search-label">par adresse</label>
        <form class="form-inline">
          <div class="form-group mx-sm-3 mb-2">
            <input id="adresse" name="adresse" type="text" [(ngModel)]="adresse" class="form-control" placeholder="Adresse">
          </div>
        </form>
      </div>
      <div class="col-sm-3">
        <label for="etat" class="search-label">par etat</label>
        <form class="form-inline">
          <div class="form-group mx-sm-3 mb-2">
            <input id="etat" name="etat" type="text" [(ngModel)]="etat" class="form-control" placeholder="Etat">
          </div>
        </form>
      </div>
      <div class="col-sm-3">
        <br>
        <button id="search" type="submit" [disabled]="adresse==='' && nom==='' && etat===''" class="btn btn-primary mb-2" (click)="onSearchSite()">Chercher</button>
      </div>
    </div>
  </div>

  <table class="table" *ngIf="sites">
    <thead>
    <tr>
      <th>Nom</th>
      <th>Adresse</th>
      <th>Etat</th>
      <th>Date d'ouverture</th>
    </tr>
    </thead>
    <tbody>

    <tr class="table-primary" *ngFor="let t of sites._embedded.sites">
      <td>{{t.nom}}</td>
      <td>{{t.adresse}}</td>
      <td>{{t.etat}}</td>
      <td>{{t.dateOuverture}}</td>

    </tr >
    </tbody>
  </table>
  <nav *ngIf="totalPages > 1 " aria-label="Page navigation example" class="" >
    <ul class="pagination justify-content-center">
      <li class="page-item  clickable" *ngIf="currentPage > 0" >
        <a class="page-link"   (click)="onPreviousPgaeSite()" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li  [ngClass]="i==currentPage?'active':''" class="page-item clickable" *ngFor="let p of pages;let i=index;">
        <a class="page-link" (click)="onPgaeSite(i)">{{i+1}}</a>
      </li>
      <li class="page-item  clickable"*ngIf="currentPage < totalPages-1" >
        <a class="page-link"  (click)="onNextPgaeSite()" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
