/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
  }
  
  .bg-image {
    /* The image used */
    background-image: url("/assets/images/background.jpg");
    
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
    
    /* Full height */
    height: 100%; 
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
/* Position text in the middle of the page/image */
.bg-text {
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 2;
   
  }